{% extends 'shop/basic.html' %}

{% block title%} {{product.product_name}} - My Awesome Cart{% endblock %}
{% block body %}
<div class="container my-4">
    <div class="row">
    <div class="col-md-4">
    <div class="row">
        <img src="/media/{{product.image}}" width="233px" height="385px">
    </div>
        <div class="row">
            <a href="/shop/checkout/"><button class="btn btn-primary mx-3">Buy Now</button></a>
            <button class="btn btn-primary">Add To Cart</button>
        </div>

    </div>

    <div class="col-md-8">
        <h5>{{product.product_name}}</h5>
        <p><b>Rs.{{product.price}} </b></p>
        <p>{{product.desc}}</p>


    </div>
    </div>


</div>




{% endblock %}




{% block js %}
<script>
    if (localStorage.getItem('cart') == null) {
        var cart = {};
      } else {
        cart = JSON.parse(localStorage.getItem('cart'));
        var sum = 0;
        for (var item in cart) {
      
          sum = sum + cart[item][0];
        }
        document.getElementById('cart').innerHTML = sum;
        updateCart(cart);
      }
      // If the add to cart button is clicked, add/increment the item
      $('.cart').click(function() {
        var idstr = this.id.toString();
        if (cart[idstr] != undefined) {
            cart[idstr] = cart[idstr] + 1;
        } else {
            cart[idstr] = 1;
        }
        updateCart(cart);
        
      });
      //Add Popover to cart
      
      function updateCart(cart) {
        var sum = 0;
        for (var item in cart) {
            sum = sum + cart[item];
            document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
        }
        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById('cart').innerHTML = sum;
        console.log(cart);
        updatePopover(cart);
      }
</script>
{% endblock %}
